# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
.venv/
env/

# Environment Variables (KRITIČNO BITNO)
.env

# Logs
*.log
logs/

# Docker
.docker/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/